<header>
  <nav class="navbar navbar-expand-lg main-navbar">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/homepage"><img src="assets/images/logo.jpg" alt="logo" class="img-logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <ul class="navbar-nav">
        <li class="nav-item ">
          <a class="nav-link active nv-link" aria-current="page" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nv-link" routerLink="/products">Products</a>
        </li> 
        <li>
          <button routerLink="/cart" class="btn" style="margin-top:3px; background-color: white; border-color: white;"><i class="fa fa-cart-plus fa-2x" aria-hidden="true" style="color: #df8c19"></i>
            <div class="badge bg-danger" style="font-size: 12px;">5</div>
          </button>
        </li>                   
      </ul>
    </div>     
  </nav>
</header>
