<!-- <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="assets/images/banner3.jpg" alt="banner">
      </div>   
    </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-main">
        <div class="card-body">
          <h5 class="card-title mini-headers">Welcome to iQ Store!</h5>
          <p class="card-text">Our goal is to provide the best quality service and products to help you make healthier choices. <br>We offer a great range of product catagories to fulfil all your grocery needs.</p>                          
          <p class="card-title card-sub-title">Our product catagories</p>
          <div class="center">
            <img src="assets/images/homepage-cat-fruits.jpg" alt="fuits" class="thumbnails">
            <img src="assets/images/homepage-cat-veggies.jpg" alt="vegetables" class="thumbnails">
            <img src="assets/images/homepage-cat-groceries.jpg" alt="grocery" class="thumbnails">
            <img src="assets/images/homepage-cat-meat.jpg" alt="meat" class="thumbnails">
            <img src="assets/images/homepage-cat-fish.jpg" alt="fish" class="thumbnails"> <br><br>
            <P class="card-text">Browse our store to see all our products and best deals.</P>                        
            <button type="button" class="btn btn-register center-button" routerLink="/home">Browse Store</button> 
          </div> 

          <div class="register">
            <div class="flip-card-1">
              <div class="flip-card-1-inner">
                <div class="flip-card-1-front">
                  <h5 class="card-title mini-headers register-card-mini-header">Not Registered Yet?</h5>
                  <img src="assets/images/register.png" alt="Avatar" style="width:200px;height:100px;">
                </div>
                <div class="flip-card-1-back">
                  <p class="card-text register-card-text">Now you can place your orders online. <br> Register now to experience our online services.</p>                                                       
                  <button type="button" class="btn center-button btn-register">Register Now</button>
                </div>
              </div>
            </div>
            <div class="flip-card-2">
              <div class="flip-card-2-inner">
                <div class="flip-card-2-front">
                  <h5 class="card-title mini-headers register-card-mini-header">Already registered?</h5>
                  <img src="assets/images/login.png" alt="Avatar" style="width:200px;height:100px;">
                </div>
                <div class="flip-card-2-back">
                  <p class="card-text register-card-text">Log in  and place your order now. <br> Happy Shopping!</p>                   
                  <button type="button" class="btn center-button btn-register">Login</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div> 
</div>  -->

<!-- <div class="container"> -->
  <!-- <div class="row">
    <div class="col-md-12">
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="assets/images/banner3.jpg" alt="banner">
          </div>   
        </div>
    </div>
  </div> -->
 <!-- <div class="container-fluid" >

    <div class="row">
      <div class="col-md-12 align-self-center">
        <div class="card card-main">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h5 class="card-title mini-headers">Welcome to iQ Store!</h5>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p class="card-text">Our goal is to provide the best quality service and products to help you make healthier choices.</p> 
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p class="card-text">We offer a great range of product catagories to fulfil all your grocery needs.</p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p class="card-title card-sub-title">Our product catagories</p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="center">
                  <img src="assets/images/homepage-cat-fruits.jpg" alt="fuits" class="thumbnails">
                  <img src="assets/images/homepage-cat-veggies.jpg" alt="vegetables" class="thumbnails">
                  <img src="assets/images/homepage-cat-groceries.jpg" alt="grocery" class="thumbnails">
                  <img src="assets/images/homepage-cat-meat.jpg" alt="meat" class="thumbnails">
                  <img src="assets/images/homepage-cat-fish.jpg" alt="fish" class="thumbnails">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <P class="card-text">Browse our store to see all our products and best deals.</P> 
              </div>
            </div>
            <div class="row">
              <div class="col">
                <button type="button" class="btn btn-register center-button" routerLink="/home">Browse Store</button> 
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-sm-1">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title mini-headers register-card-mini-header">Not Registered to our online services Yet?</h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <p class="card-text register-card-text">Now you can place your orders online.</p>  
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <p class="card-text register-card-text">We deliver to your doorstep.</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <button type="button" class="btn center-button btn-register">Register Now</button>
                  </div>
                </div> 
              </div>
              <div class="col-md-6 col-sm-1">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title mini-headers register-card-mini-header">Already registered?</h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <p class="card-text register-card-text">Log in  and place your order now.</p> 
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <p class="card-text register-card-text">Happy Shopping!</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <button type="button" class="btn center-button btn-register">Login</button>
                  </div>
                </div>    
              </div>
            </div>
          </div>
        </div> 
      </div>
    </div>
  </div> -->
<!-- </div> -->
<!-- </div> -->
<!-- <body style="background-image: linear-gradient(to right, #df8c19 0%, #efd25c 51%, #df8c19 100%);"> -->
  <body>    
    
    <div class="container" >
      <div class="row">
        <div class="col-md-10" style="margin-top: 5rem;">
          <div class="row">
            <div class="col">
              <h5 class="card-title mini-headers">Welcome to iQ Store!</h5>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p class="card-text">Our goal is to provide the best quality service and products to help you make healthier choices.</p> 
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p class="card-text">We offer a great range of product catagories to fulfil all your grocery needs.</p>
            </div>
          </div>
          <div class="row ">
            <div class="col">
              <P class="card-text">Browse our store to see all our products and best deals.</P> 
            </div>
          </div>
          <div class="row">
            <div class="col">
              <button type="button" class="btn btn-yellow center-button" routerLink="/home">Browse Store</button> 
            </div>
          </div>
        </div> 
        <div class="col-md-2">
          <div class="d-none d-md-block d-flex justify-content-center">
            <img src="assets/images/image.jpg" alt="" height="350px" style="margin-top: 1rem;">
          </div> 
        </div>    
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6 d-none d-md-block ">
              <div class="card mb-3" style="max-width: 540px; background-image: linear-gradient(to right, #df8c19 0%, #efd25c 51%, #df8c19 100%);">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="assets/images/register.png"  width="100%" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <br>
                      <h5 class="card-title" style="color: white;">Register now to place your orders online</h5>
                      <button type="button" class="btn center-button btn-register">Register Now</button>                  
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="col-md-6 d-none d-md-block ">
              <div class="card mb-3" style="max-width: 540px; background-image: linear-gradient(to right, #df8c19 0%, #efd25c 51%, #df8c19 100%);">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="assets/images/login.png"  width="100%" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <br>
                      <h5 class="card-title" style="color: white;">Already have an account?</h5>
                      <p class="card-title" style="color: white;">Log in  and place your order now.</p> 
                      <button type="button" class="btn center-button btn-register">Login</button>                 
                    </div>
                  </div>
                </div>
              </div>
            </div> -->
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-6 d-none d-md-block ">
                  <div class="card mb-3" style="max-width: 540px; background-image: linear-gradient(to right, #df8c19 0%, #efd25c 51%, #df8c19 100%);">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="assets/images/login.png"  width="100%" class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <br>
                          <h5 class="card-title" style="color: white;">Already have an account?</h5>
                          <p class="card-title" style="color: white;">Log in  and place your order now.</p> 
                          <button type="button" class="btn center-button btn-register">Login</button>                 
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
            <div class="col-md-6 d-md-none">
              <div class="row">
                <div class="col">
                  <h5 class="card-title mini-headers register-card-mini-header">Register now to place your orders online</h5>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <button type="button" class="btn center-button btn-register">Register Now</button>
                </div>
              </div> 
              <div class="row">
                <div class="col">
                  <h5 class="card-title mini-headers register-card-mini-header">Already registered?</h5>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <p class="card-text register-card-text">Log in  and place your order now.</p> 
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <p class="card-text register-card-text">Happy Shopping!</p>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <button type="button" class="btn center-button btn-yellow">Login</button>
                </div>
              </div>    
            </div>            
          </div>
        </div>
      </div> 
      <div class="row">
        <div class="col-sm-12 d-md-none">
          <h5 class="card-title mini-headers register-card-mini-header">Our Product Categories</h5>
          <ul class="list-group list-group-flush" >
            <li class="list-group-item"> Fruits</li>
            <li class="list-group-item">Vegetables</li>
            <li class="list-group-item">Grocery</li>
            <li class="list-group-item">Beverages</li>
            <li class="list-group-item">Chilled</li>
            <li class="list-group-item">Meat</li>
            <li class="list-group-item">Fish</li>
          </ul>
        </div>
      </div>
    </div>