<app-header></app-header>
<div class="container">
    <div class="card cart-card">
        <h1 class="cart-title">My Cart</h1>
        <div class="cart-content">
            <img src="assets/images/cart.png" alt="empty-cart" height="300px" class="center" style="opacity: 0.5;">
            <p class="cart-text">Your cart is empty</p>
            <!-- <p class="cart-text text-sub">Have an account? Log in to place orders</p> -->
            <button type="button" class="btn center-button btn-yellow" routerLink="/home">Shop Now</button>
        </div>
    </div>
</div>