<app-header></app-header>
<br> 
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="assets/images/products-banner.jpg" alt="banner">
    </div>   
  </div>
</div>
    <h2 class="main-title">Our Products</h2>
    <div class="products">
      <app-products-shared [products]="products"></app-products-shared>
    </div>
    <button class="btn btn-back" (click)="goBack()">Back</button>   

    


